# .ebextensions/cron.config
files:
  "/etc/cron.d/scrape_cron":
    mode: "000644"
    owner: root
    group: root
    content: |
      0 0 * * * root source /opt/python/current/env && cd /opt/python/current/app && /opt/python/run/venv/bin/python webscraper.py >> /var/log/webscraper.log 2>&1

commands:
  remove_old_cron:
    command: "rm -f /etc/cron.d/*"